.indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}
.started {
    background-color: green;
}
.stopped {
    background-color: red;
}
.starting {
    background-color: yellow;
}